In [2]:
import pandas as pd 
# Create URL to JSON file (alternatively this can be a filepath)
url = 'data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient='columns')

# View the first ten rows
df.head(10)

,data,_requestId,_statusCode,_statusText,_statusMessage
acaLargeEmployer,N,6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
benSupplementForfeit,None,6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
costSummary,"{'healthCost': 267.31, 'lifeCost': 8.78, 'volu...",6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
employee,"{'emplid': '00002465240', 'empl_rcd': 0, 'effd...",6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
exchange,None,6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
grandFatheredOptionCd,None,6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
healthcost,"[{'sched_id': '7HLEM', 'emplid': '00002465240'...",6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
histDependentPlans,"[{'sched_id': '7HLEM', 'emplid': '00002465240'...",6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
histEmployeePlans,"[{'sched_id': '7HLEM', 'emplid': '00002465240'...",6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success
hsaIRSLimits,"[{'coverageYear': '2019', 'familyCoverage': 70...",6753f043-0612-4ec6-ab5a-3759a9682693,200,OK,Success

In [3]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
with open('data.json') as f:
    d = json.load(f)
d

#lets put the data into a pandas df
#clicking on raw_nyc_phil.json under "Input Files"
#tells us parent node is 'programs'
nycphil = json_normalize(d['data'])
nycphil

,healthcost,histEmployeePlans,histDependentPlans,hsacost,providers,acaLargeEmployer,sohMaxAllowedEE,sohMaxAllowedDep,suppSpouseIncrement,suppEEIncrement,...,employee.t2_accord,employee.t2_soi,employee.t2_alpha,employee.t2_aca_large_emplr,employee.ambroseEE,employee.authoriaMode,costSummary.healthCost,costSummary.lifeCost,costSummary.voluntaryCost,costSummary.totalCost
0,"[{'sched_id': '7HLEM', 'emplid': '00002465240'...","[{'sched_id': '7HLEM', 'emplid': '00002465240'...","[{'sched_id': '7HLEM', 'emplid': '00002465240'...","[{'sched_id': '7HLEM', 'emplid': '00002465240'...","[{'plan_type': '10', 'benefit_plan': '000E5T',...",N,None,None,None,None,...,N,N,N,N,None,None,267.31,8.78,34.18,310.27

In [4]:
nycphil = json_normalize(d['data']['healthcost'])
nycphil

,sched_id,emplid,benefit_rcd_nbr,event_id,plan_type,benefit_program,option_type,benefit_plan,covrg_cd,option_cd,...,planDetailsUrl,premium_freq,rate_unit,empl_covrg_rate,empl_freq,deduct_amt_ovrd,depAgeEffConfig,planDetails,favoritePlan,acaregularPlan
0,7HLEM,00002465240,0,1,10,272,O,000E5A,1,UN1,...,None,M,1,0.0,W,0.0,DOB,None,False,False
1,7HLEM,00002465240,0,1,10,272,O,000E5A,2,UN2,...,None,M,1,0.0,W,0.0,DOB,None,False,False
2,7HLEM,00002465240,0,1,10,272,O,000E5A,4,UN4,...,None,M,1,0.0,W,0.0,DOB,None,False,False
3,7HLEM,00002465240,0,1,10,272,O,000E5A,C,UNC,...,None,M,1,0.0,W,0.0,DOB,None,False,False
4,7HLEM,00002465240,0,1,10,272,O,000E5B,1,UJ1,...,None,M,1,0.0,W,0.0,DOB,None,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,7HLEM,00002465240,0,1,15,272,O,004RT4,5,S05,...,None,M,1,0.0,W,0.0,DOB,None,False,False
158,7HLEM,00002465240,0,1,15,272,O,004RT4,6,S06,...,None,M,1,0.0,W,0.0,DOB,None,False,False
159,7HLEM,00002465240,0,1,15,272,O,004RT4,7,S07,...,None,M,1,0.0,W,0.0,DOB,None,False,False
160,7HLEM,00002465240,0,1,15,272,O,004RT4,8,S08,...,None,M,1,0.0,W,0.0,DOB,None,False,False
161,7HLEM,00002465240,0,1,15,272,W,,,W,...,None,,None,0.0,,0.0,DOB,None,False,False

In [5]:
nycphil = json_normalize(d['data']['healthcost'][1])
nycphil

,sched_id,emplid,benefit_rcd_nbr,event_id,plan_type,benefit_program,option_type,benefit_plan,covrg_cd,option_cd,...,planDetailsUrl,premium_freq,rate_unit,empl_covrg_rate,empl_freq,deduct_amt_ovrd,depAgeEffConfig,planDetails,favoritePlan,acaregularPlan
0,7HLEM,00002465240,0,1,10,272,O,000E5A,2,UN2,...,None,M,1,0.0,W,0.0,DOB,None,False,False