In [1]:
# importing pandas module  
import pandas as pd  
  
# min_count = 0 is the default 
pd.Series([]).sum() 
  
# When passed  min_count = 1, 
# sum of an empty series will be NaN 
pd.Series([]).sum(min_count = 1)

nan

In [4]:

# importing pandas module  
import pandas as pd  
    
# making data frame csv at url   
data = pd.read_csv("student_results-NaN.csv")  
  
# sum of all salary 
val = data['Student ID'].sum() 
  
val

8044.0

In [6]:
# importing pandas module  
import pandas as pd  
    
# making a dict of list 
data = {'name': ['John', 'Peter', 'Karl'], 
        'age' : [23, 42, 19]} 
  
val = pd.DataFrame(data) 
  
# sum of all salary 
val['total'] = val['age'].sum() 
val

    name  age  total
0   John   23     84
1  Peter   42     84
2   Karl   19     84