In [1]:
# importing pandas module  
import pandas as pd  
  
# creating lists 
lst = [2, -10.87, -3.14, 0.12] 
lst2 = [-10.87 + 4j] 
  
ser = pd.Series(lst) 
ser1 = pd.Series(lst2) 
  
# printing values explaining abs() 
print(ser1.abs(), '\n\n', ser.abs())

0    11.582612
dtype: float64

 0     2.00
1    10.87
2     3.14
3     0.12
dtype: float64

In [2]:
# importing pandas module  
import pandas as pd  
  
df = pd.DataFrame({'Name': ['John', 'Hari', 'Peter', 'Loani'], 
                  'Age': [31, 29, 57, 40], 
                  'val': [98, 48, -80, -14]}) 
  
  
df['ope'] = (df.val - 87).abs() 
  
df

    Name  Age  val  ope
0   John   31   98   11
1   Hari   29   48   39
2  Peter   57  -80  167
3  Loani   40  -14  101